<?xml version="1.0"?>
<!--
/**
 * Copyright © Custom. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <smarty_address_validation>
            <general>
                <enabled>0</enabled>
                <autocomplete_enabled>1</autocomplete_enabled>
            </general>
        </smarty_address_validation>
    </default>
</config>
